-i https://pypi.org/simple
anyio==3.6.2 ; python_full_version >= '3.6.2'
certifi==2022.12.7 ; python_version >= '3.6'
colorama==0.4.6 ; sys_platform == 'win32'
h11==0.14.0 ; python_version >= '3.7'
httpcore==0.17.0 ; python_version >= '3.7'
httpx==0.24.0
idna==3.4 ; python_version >= '3.5'
loguru==0.7.0
sniffio==1.3.0 ; python_version >= '3.7'
tenacity==8.2.2
win32-setctime==1.1.0 ; sys_platform == 'win32'
